apiVersion: v1
kind: Config
clusters:
  - name: kubernetes-the-ansible-way
    cluster:
      certificate-authority: /var/lib/kubernetes/pki/ca.crt
      server: https://{{ hostvars['loadbalancer']['ansible_host'] }}:6443
users:
  - name: "system:node:{{ inventory_hostname }}"
    user:
      client-certificate: "/var/lib/kubernetes/pki/{{ inventory_hostname }}.crt"
      client-key: "/var/lib/kubernetes/pki/{{ inventory_hostname }}.key"
contexts:
  - name: default
    context:
      cluster: kubernetes-the-ansible-way
      user: "system:node:{{ inventory_hostname }}"
current-context: default

